<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

      <% if place.user.present? %>
        <small><%= place.user.email %></small>
      <% end %>


      <% if place.photos.present? %>>
        <div class="last-img">
          <%= image_tag place.photos.last.picture.url, class: 'img-fluid' %>
        </div>
      <% end %>

    
      <% if place.comments.present? %>
        <div class="col-12">
          <blockquote>
            <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b> -
            <% end %>
            <%= place.comments.last.message %>
            </br>
            <small id="comAuth">Posted By: <%= place.comments.last.user.email %></small>
          </blockquote>
        </div>
      <% end %>

     
  </div>
<% end %>


<!-- pagination -->
<div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @places %>
    </div>
  <%= will_paginate @places, :container => false %>
</div>